DELISTING_HTML_URL = 'https://www.binance.com/en/support/announcement/delisting?c=161&navId=161&hl=en'
BASE_LINK_URL = 'https://www.binance.com'
CODES_FILENAME = 'codes.pkl'

# Telegram Bot token and Channel ID
TELEGRAM_BOT_TOKEN = '123456789:9UlPss2bomEBaYzXvNXBEPH7uo10zxpcNnXK'
TELEGRAM_CHANNEL_ID = '-1002222222222'

# If you don't know what is Sentry - just leave this config section as it is
USE_SENTRY = False
SENTRY_DNS = 'https://2xhriatd87ssjod0l7mbc3jl7pzgng1eqk@glitchtip.domain.com/1'
